*{
    margin: 0;
    padding: 0;
}   
body{
    background: #3EFF99;
    background: -webkit-radial-gradient(right, #3EFF99, #EDEDED);
    background: -moz-radial-gradient(right, #3EFF99, #EDEDED);
    background: radial-gradient(to left, #3EFF99, #EDEDED);
  }
  h1{
    text-align: center;
    display: flex;
    flex-direction: row; 
    grid-area: nombre;
}  